<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>古乐器博物馆问答系统</title>
</head>
<body style="background-color:#140a03ea ;">

    <br/>
    <br/> 
    <br/>
    <!-- NavBar -->
    <nav class="navbar">
        <div class="inner-width">
            <a href="#" class="logo"></a>
            <div class="navbar-menu">
                <a href="#">Home</a>
                <a href="{%url 'query'%}">Project</a>
                <a href="{%url 'login'%}">Admin</a>
                <!-- <a href="#">Contact</a>
                <a href="#">FAQ</a> -->
            </div>
        </div>
    </nav>

    <!-- Banner -->
    <iframe src='https://my.spline.design/3dtextbluecopycopycopycopy-ec650ef9ff6fa36383850d28b5b36417/' frameborder='0' width='100%' height='100%'></iframe>
        <div class="banner">
        <div class="content">
            <h2>欢迎来到</h2>
            <h1>古乐器问答系统</h1>
            <br/>
            <br/> 
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <!-- <div class="intro">欢迎向我提问</div> -->
            <a href="{%url 'query'%}" class="button">Enter</a>
        </div>
    </div>
    <br/>
    <br/> 
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="center">
        
          <figure class="sample">
            <img src="../static/img/8.jpg" alt="sample3" />
            <figcaption>
              <h3>铜钹</h3>
            </figcaption>
            <a href="#"></a>
          </figure>

          <figure class="sample">
            <img src="../static/img/3.jpg" alt="sample3" />
            <figcaption>
              <h3>金漆凤首箜篌</h3>
            </figcaption>
            <a href="#"></a>
          </figure>

          <figure class="sample">
            <img src="../static/img/5.jpg" alt="sample3" />
            <figcaption>
              <h3>凤鸟纹石磬</h3>
            </figcaption>
            <a href="#"></a>
          </figure>
  <!-- 分组 -->
          <figure class="sample">
            <img src="../static/img/6.jpg" alt="sample3" />
            <figcaption>
              <h3>辨梦琴</h3>
            </figcaption>
            <a href="#"></a>
          </figure>

          <figure class="sample">
            <img src="../static/img/9.jpg" alt="sample3" />
            <figcaption>
              <h3>混沌材琴</h3>
            </figcaption>
            <a href="#"></a>
          </figure>

          <figure class="sample">
            <img src="../static/img/10.jpg" alt="sample3" />
            <figcaption>
              <h3>祝公望蕉叶琴</h3>
            </figcaption>
            <a href="#"></a>
          </figure>
  <!-- 分组 -->
          <figure class="sample">
            <img src="../static/img/11.jpg" alt="sample3" />
            <figcaption>
              <h3>贾湖骨笛</h3>
            </figcaption>
            <a href="#"></a>
          </figure>

          <figure class="sample">
            <img src="../static/img/13.jpg" alt="sample3" />
            <figcaption>
              <h3>东周彩漆竹篪</h3>
            </figcaption>
            <a href="#"></a>
          </figure>

          <figure class="sample">
            <img src="../static/img/14.jpg" alt="sample3" />
            <figcaption>
              <h3>石峁口簧</h3>
            </figcaption>
            <a href="#"></a>
          </figure>
         <!-- 分组 -->
         <figure class="sample">
            <img src="../static/img/16.jpg" alt="sample1" />
            <figcaption>
              <h3>九霄环佩琴</h3>
            </figcaption>
            <a href="#"></a>
          </figure>
          
          <figure class="sample">
            <img src="../static/img/18.jpg" alt="sample2" />
            <figcaption>
              <h3>十二律管</h3>
            </figcaption>
            <a href="#"></a>
          </figure>
          
          <figure class="sample">
            <img src="../static/img/21.jpg" alt="sample3" />
            <figcaption>
              <h3>浮雕十弦琴</h3>
            </figcaption>
            <a href="#"></a>
          </figure>
           <!-- 分组 -->
           <figure class="sample">
            <img src="../static/img/7.jpg" alt="sample1" />
            <figcaption>
              <h3>虎纹石磬</h3>
            </figcaption>
            <a href="#"></a>
          </figure>
          
          <figure class="sample">
            <img src="../static/img/22.jpg" alt="sample2" />
            <figcaption>
              <h3>跨湖桥骨哨</h3>
            </figcaption>
            <a href="#"></a>
          </figure>
          
          <figure class="sample">
            <img src="../static/img/23.jpg" alt="sample3" />
            <figcaption>
              <h3>庙底沟陶铃</h3>
            </figcaption>
            <a href="#"></a>
          </figure>
           <!-- 分组 -->
         <figure class="sample">
            <img src="../static/img/17.jpg" alt="sample3" />
            <figcaption>
              <h3>四虎镈</h3>
            </figcaption>
            <a href="#"></a>
          </figure>

          <figure class="sample">
            <img src="../static/img/19.jpg" alt="sample3" />
            <figcaption>
              <h3>金编钟</h3>
            </figcaption>
            <a href="#"></a>
          </figure>

          <figure class="sample">
            <img src="../static/img/20.jpg" alt="sample3" />
            <figcaption>
              <h3>秦公镈</h3>
            </figcaption>
            <a href="#"></a>
          </figure>
         <!-- 分组 -->
         <figure class="sample">
            <img src="../static/img/12.jpg" alt="sample1" />
            <figcaption>
              <h3>云纹青铜大铙</h3>
            </figcaption>
            <a href="#"></a>
          </figure>
          
          <figure class="sample">
            <img src="../static/img/2.jpg" alt="sample2" />
            <figcaption>
              <h3>新石器时代彩陶鼓</h3>
            </figcaption>
            <a href="#"></a>
          </figure>
          
          <figure class="sample">
            <img src="../static/img/4.jpg" alt="sample3" />
            <figcaption>
              <h3>象纹铜铙</h3>
            </figcaption>
            <a href="#"></a>
          </figure>
          
          <!-- 分组 -->

    </div>
    
</body>
</html>